body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header,
.footer,
.hero-section{
    background-color: #1F2937;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 200px;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a{
    text-decoration: none;
    color: #F9FAF8;
    font-size: 18px;
}

.header-logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-section{
    flex: 1;
    display: flex;
    padding: 50px 200px;
    justify-content: space-between;
}

.hero-left{
    flex: 1;
}

.hero-image{
    flex: 0 0 auto;
    background-color: gray;
    height: 350px;
    width: 350px;
}

.hero-main-text{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.text{
    color: #F9FAF8;
    margin-bottom: 10px;
}

button{
    padding: 4px 24px;
    color: #F9FAF8;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
    background-color: #3882f6;
    border-radius: 7px;
    width: 150px;
}

.hero-section button{
    border: solid #3882f6;;
}

.information-section{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 50px 200px;
}

.info-header{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    margin-bottom: 50px;
}

.info-container{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;

}

.info{
    display: flex;
    flex-direction: column;
    width: 150px;
}

img{
    height: 150px;
    width: 150px;
    border: 2px solid #3882f6;
    border-radius: 10px;
}

.info-subtext{
    color: rgb(82, 82, 82);
}

.quote-section{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    justify-content: center;
    padding: 50px 300px;
}

.quote-text{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: lighter;
}

.quote-credit{
    font-weight: bold;
    align-self: flex-end;
    font-size: 24px;
}

.call-to-action{
    flex: 1;
    display: flex;
    justify-content: space-between;
    background-color: #3882f6;
    margin: 100px 200px;
    border-radius: 10px;
    padding: 50px 75px;
}

.call-main-text{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.call-to-action button{
    border: solid 2px white;
    flex: 0 0 auto;
    align-self: center;
}

.footer{
    color: #F9FAF8;
    font-size: 24px;
    padding: 30px 200px;
    text-align: center;
}