body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header,
.footer,
.hero-section{
    background-color: #1F2937;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 200px;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a{
    text-decoration: none;
    color: #F9FAF8;
}

.header-logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-section{
    flex: 1;
    display: flex;
    padding: 50px 200px;
}

.hero-left{
    flex: 1;
}

.hero-image{
    flex: 1;
    background-color: gray;
}

.hero-main-text{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.text{
    color: #F9FAF8;
    margin-bottom: 10px;
}

button{
    padding: 4px 24px;
    color: #F9FAF8;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background-color: #3882f6;
    border-radius: 7px;
}

.hero-section button{
    border: solid #3882f6;;
}

.information-section{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 50px 200px;
}

.info-header{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
}

.info-container{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;

}

.info{
    display: flex;
    flex-direction: column;
    width: 150px;
}

img{
    height: 150px;
    width: 150px;
    border: 2px solid #3882f6;
    border-radius: 10px;
}

.info-subtext{
    color: rgb(82, 82, 82);
}